/Payment/packages
/Payment/Payment.API/obj
/Payment/Payment.API/bin
/Payment/Payment.Business/obj
/Payment/Payment.Business/bin
/Payment/Payment.DAL/obj
/Payment/Payment.DAL/bin
/Payment/Payment.Core/obj
/Payment/Payment.Core/bin
/Payment/Payment.NokAir/obj
/Payment/Payment.NokAir/bin
/Payment/.vs
/Payment/Payment.ThaiSmile/obj
/Payment/Payment.ThaiSmile/bin
/Payment/Payment.NokController/bin/Debug
/Payment/Payment.NokController/obj/Debug
/Payment/Payment.ThaiSmileController/bin/Debug
/Payment/Payment.ThaiSmileController/obj/Debug
/Payment/VietJet/obj
/Payment/VietJet/bin
/Payment/ThaiSmile/obj
/Payment/ThaiSmile/bin
/Payment/NokAir/obj
/Payment/NokAir/bin
